<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="account-detail">
		<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h4 class="card-title">DETAIL ACCOUNT MANAGEMENT</h4>
                            <form id="signupForm" class="col-md-10 mx-auto" method="post" action="" th:if="account != null" th:object="${account}">
                                <div class="form-group">
                                    <label for="firstname">First name</label>
                                    <div>
                                        <input type="text" class="form-control" id="firstname" name="firstname" 
                                        placeholder="First name" th:field="*{accountName}" disabled/>
                                    </div>
                                </div>	                              
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <div>
                                        <input type="text" class="form-control" id="username" name="username" 
                                        placeholder="Username" th:field="*{accountUsername}" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div>
                                        <input type="text" class="form-control" id="email" name="email"
                                         placeholder="Email" th:field="*{accountEmail}" disabled/>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <div>
                                        <input type="text" class="form-control" id="phone" name="email"
                                         placeholder="phone" th:field="*{accountPhone}" disabled/>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="address">Address</label>
                                    <div>
                                        <input type="text" class="form-control" id="address" name="address" 
                                        placeholder="address" th:field="*{accountAddress}" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="createdAt">Created At</label>
                                    <div>
                                        <input type="text" class="form-control" id="createdAt"
                                         th:value=" ${account.accountCreateAt} ? ${#dates.format(account.accountCreateAt, 'dd-MM-yyyy')} "
                                         name="createdAt" placeholder="createdAt" disabled/>
                                    </div>
                                </div>
                          
            
                                <!-- <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                                </div> -->
                                <!-- <div class="form-group">
                                    <label for="confirm_password">Confirm password</label>
                                    <div>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" />
                                    </div>
                                </div> -->
                                <!-- <div class="form-group">
                                    <div>
                                        <div class="form-check">
                                            <input type="checkbox" id="agree" name="agree" value="agree" class="form-check-input" />
                                            <label class="form-check-label">Please agree to our policy</label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group right">
                                    <button type="submit" class="btn btn-primary" action="action"
    									onclick="window.history.go(-1); return false;">BACK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                 <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            
                            <div class="app-footer-right">
                                <ul class="header-megamenu nav">
                                    <li class="nav-item">
                                        <a data-placement="top" rel="popover-focus" data-offset="300"
                                            data-toggle="popover-custom" class="nav-link">
                                            Copyright © 2021 All rights reserved by Happy Graden
                                            
                                        </a>
                                        
                                    </li>
                                    
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
            
		
	</th:block>

</body>
</html>