<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="account-list">
	<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                     <i class="fa fa-home" aria-hidden="true"></i>
                                </div>
                                <div><b>Quản lí tài khoản</b>
                                  
                                </div>
                            </div>
                            <div class="page-title-actions">
                               
                                <div class="d-inline-block dropdown">
                                    <!-- <button type="button" data-toggle="dropdown" aria-haspopup="true" title="Add"
                                        aria-expanded="false" class="btn btn-primary btn-just-icon">
                                       <i class="fas fa-plus-circle"></i>
                                        
                                    </button> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tabs-animation">
                        

                        <div class="card mb-3">
                            
                            <div class="card-body">
                                <table style="width: 100%;" id="example"
                                    class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Họ Tên</th>
                                            <th>Tài Khoản</th>
                                            <th>Email</th>
                                            <th>Ngày Tạo</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  th:if="${!pageable.data.empty or pageable.data != null}"
												th:each="account, i : ${pageable.data}">
                                            <td style="text-align: center;"><span
												th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span></td>
                                            <td style="text-align: center;"><span th:text="${account.accountName}"></span></td>
											<td style="text-align: center;"><span th:text="${account.accountUsername}"></span></td>
											<td style="text-align: center;"><span th:text="${account.accountEmail}"></span></td>
                                            <td style="text-align: center;"><span
												th:text=" ${account.accountCreateAt} ? ${#dates.format(account.accountCreateAt, 'dd/MM/yyyy')} "></span></td>
                                            <td style ="text-align: center;">
                                            	<button rel="tooltip" title="Xóa" type="button"
													class="btn btn-danger btn-just-icon"
													th:onclick="|DeleteAccount(${i.index})|">
													<i class="fas fa-trash-alt"></i>
												</button>&nbsp;&nbsp;
												
												<a th:href="@{'/admin/account/' + ${account.accountId}}">
													<button rel="tooltip" title="Chi tiết" type="button"
														class="btn btn-warning btn-just-icon">
														<i class="fas fa-eye"></i>
													</button>&nbsp;&nbsp;
												</a>
												<!-- <button rel="tooltip" title="Edit account" type="button"
													class="btn btn-primary btn-just-icon"
													th:onclick="|DeleteAccount(${i.index})|">
													<i class="fas fa-pencil-alt"></i>
												</button> -->
                                            </td>
                                        </tr>
                                       
                                        
                                        
                                    </tbody>
                                    <tfoot>
                                         <tr>
                                            <th>STT</th>
                                            <th>Họ Tên</th>
                                            <th>Tài Khoản</th>
                                            <th>Email</th>
                                            <th>Ngày Tạo</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            
                            <div class="app-footer-right">
                                <ul class="header-megamenu nav">
                                    <li class="nav-item">
                                        <a data-placement="top" rel="popover-focus" data-offset="300"
                                            data-toggle="popover-custom" class="nav-link">
                                            Copyright © 2021 All rights reserved by Happy Graden
                                            
                                        </a>
                                        
                                    </li>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</th:block>
</body>
</html>