<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="account-body">
	<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                                              
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35" style = " color: red">Bảng Tài Khoản</h3>
                                <!-- <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">All Properties</option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <div class="rs-select2--light rs-select2--sm">
                                            <select class="js-select2" name="time">
                                                <option selected="selected">Lọc</option>
                                                <option value="">3 Days</option>
                                                <option value="">1 Week</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>Lọc</button>
                                    </div>
                                    <div class="table-data__tool-right">
                                    	<a th:href ="@{/admin/account/add}">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>THÊM TÀI KHOẢN</button>
                                        </a>
                                    </div>
                                </div>  -->
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    STT
                                                </th>
                                                <th>Họ & Tên</th>
                                                <th>Email</th>
                                                <th>Tên tài khoản</th>
                                                <th>Ngày tạo</th>
                                                <th>Trạng thái</th>
                                                <th>Quyền người dùng</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow" th:each="account, i : ${pageable.data}">
                                                <td>
                                                    <span th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span>
                                                </td>
                                                <td>
                                                	<span th:text="${account.accountName}"></span>
                                                </td>
                                                <td>
                                                    <span th:text="${account.accountEmail}"></span>
                                                </td>
                                                <td class="desc">
                                                	<span th:text="${account.accountUsername}"></span>
                                                </td>
                                                 </td>
                                               
                                                <td>
                                                	<span th:text=" ${account.accountCreateAt} ? ${#dates.format(account.accountCreateAt, 'dd-MM-yyyy')} "></span>
                                                </td>
                                                 <td class="desc">
                                                	<!-- <span th:text="${account.accountDisable}"></span> -->
                                                	<th:block th:if="${account.accountDisable == false}">
														<th:block th:text="active"></th:block>
													</th:block>
													<th:block th:if="${account.accountDisable == true}">
														<th:block th:text="inactive"></th:block>
													</th:block>
                                                </td>
                                                <td>
                                                    <th:block th:if="${account.role == 1}">
														<th:block th:text="ROLE_ADMIN"></th:block>
													</th:block>
													<th:block th:if="${account.role == 2}">
														<th:block th:text="ROLE_USER"></th:block>
													</th:block>
                                                </td>
                                                <!-- <td>
                                                	<th:block
													th:if="${account.role != null}"
													th:each="role, j : ${account.role}">
													<th:block th:if="${j.count > 1}">- </th:block>
													<th:block th:if="${role.name == 'ROLE_ADMIN'}">
														<th:block th:text="Admin"></th:block>
													</th:block>
													<th:block th:if="${role.name == 'ROLE_USER'}">
														<th:block th:text="User"></th:block>
													</th:block>													
													</th:block>
												</td> -->
                                               <td>
                                                    <div class="table-data-feature">
                                                        <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Chi tiết">
                                                            <i class="zmdi zmdi-mail-send"></i>
                                                        </button> -->
                                                        <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Sửa">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button> -->
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Xóa" type="button" style="background-color: blanchedalmond;"> 
                                                            <i class="zmdi zmdi-delete" th:onclick="|DeleteAccount(${i.index})|"></i>
                                                        </button>
                                                        <a th:href="@{'/admin/account/' + ${account.accountId}}">
	                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Chi tiết" style="background-color: blanchedalmond;">
	                                                            <i class="zmdi zmdi-more"></i>
	                                                        </button>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                    <!-- <div th:replace="components/pagination/panigation :: content(${pageable})"></div> -->
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
					<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<p style="color:green">Copyright © 2020 Happy Graden. All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
                </div>
            </div>
	</th:block>

</body>
</html>