<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="admin-header">
		<div class="app-header header-shadow">	
			<a href="/"><div class="app-header__logo">
                <div class="logo-src"></div>  </a>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            
            </div>
           
			<div class="app-header__mobile-menu">
				<div>
					<button type="button"
						class="hamburger hamburger--elastic mobile-toggle-nav">
						<span class="hamburger-box"> <span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
			</div>

			<div class="app-header__content">
				<!-- <div class="app-header-left">
					 <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>

				</div> -->
				<div class="app-header-right">
					<!-- <div class="header-dots">
                        <div class="dropdown">
   
                        </div>
                       
                        <div class="dropdown">
                            <button type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
                                <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                    <span class="icon-wrapper-bg bg-focus"></span>
                                    <span class="language-icon opacity-8 flag large DE"></span>
                                </span>
                            </button>
                            <div tabindex="-1" role="menu" aria-hidden="true"
                                class="rm-pointers dropdown-menu dropdown-menu-right">
                                <div class="dropdown-menu-header">
                                    <div class="dropdown-menu-header-inner pt-4 pb-4 bg-focus">
                                        <div class="menu-header-image opacity-05"
                                            style="background-image: url('assets/images/dropdown-header/city2.jpg');">
                                        </div>
                                        <div class="menu-header-content text-center text-white">
                                            <h6 class="menu-header-subtitle mt-0"> Choose Language</h6>
                                        </div>
                                    </div>
                                </div>
                                <h6 tabindex="-1" class="dropdown-header"> Popular Languages</h6>
                                <button type="button" tabindex="0" class="dropdown-item">
                                    <span class="mr-3 opacity-8 flag large US"></span> USA
                                </button>
                                <button type="button" tabindex="0" class="dropdown-item">
                                    <span class="mr-3 opacity-8 flag large CH"></span> Vietnamese
                                </button>
                              
                            </div>
                        </div>
                      
                    </div> -->

					<div class="header-btn-lg pr-0">
						<div class="widget-content p-0">
							<div class="widget-content-wrapper">
								<div class="widget-content-left">
									<div class="btn-group">
										<a data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false" class="p-0 btn"> <img width="42"
											class="rounded-circle" src="" alt=""> <i
											class="fa fa-sort-desc"></i>
										</a>
										<div tabindex="-1" role="menu" aria-hidden="true"
											class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
											<div class="dropdown-menu-header">
												<div class="dropdown-menu-header-inner bg-info">
													<div class="menu-header-image opacity-2"
														style="background-image: url('');"></div>
													<div class="menu-header-content text-left">
														<div class="widget-content p-0">
															<div class="widget-content-wrapper">
																<div class="widget-content-left mr-3">
																	<img width="42" class="rounded-circle" src="" alt="">
																</div>
																<div class="widget-content-left">
																	<div>
																		<span>Xin chào, <span
																			th:text="${#authentication.name}"></span></span>
																	</div>
																</div>
																<div class="widget-content-right mr-2">
																	<button
																		class="btn-pill btn-shadow btn-shine btn btn-focus"
																		sec:authorize="isAuthenticated()">
																		<a href="/logout">Đăng xuất</a>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="scroll-area-xs" style="height: 150px;">
												<div class="scrollbar-container ps">
													<ul class="nav flex-column">														
														<li class="nav-item"><a href="javascript:void(0);"
															class="nav-link">Đổi mật khẩu</a></li>
														<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
															href="/profile/home">Thông tin cá nhân</a></li>
													</ul>
												</div>
											</div>


										</div>
									</div>
								</div>
								<div class="widget-content-left  ml-3 header-user-info">
									<div class="widget-heading">
										<span>Xin chào, <span th:text="${#authentication.name}"></span></span>
									</div>
									<!-- <div class="widget-subheading">
										<span>Xin chào, <span th:text="${#authentication.address}"></span></span>
									</div> -->
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</th:block>

</body>
</html>