<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:fragment="admin-head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/css/font-face.css}" rel="stylesheet" media="all">
    
   
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    
    <link rel="stylesheet" th:href="@{/static/css-new/pe-icon-7-stroke/css/pe-icon-7-stroke.css}">

	<!-- Optional - Adds useful class to manipulate icon font display -->
	<link rel="stylesheet" th:href="@{/static/css-new/pe-icon-7-stroke/css/helper.css}">
	
	<link th:href="@{/static/css-new/dist/hamburgers.css}" rel="stylesheet">

	<link th:href="@{/static/css-new/main-template-new.css}" rel="stylesheet">
	
</head>
    
<body>

</body>
</html>