<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="index-product-detail">
	<style type="text/css">
		.hero__search__form form button {
		    position: absolute;
		    right: 0;
		    top: -1px;
		    height: 50px;
		    width: 50px;
		    color: #26bf13;
		}
	</style>
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                               th:src="${product.productImg}"
								th:onerror="this.onerror=null;this.src=[[@{/static/img/default.png}]];"
								alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img th:src="${product.productImg}"
                                src="img/product/details/thumb-1.jpg" alt="" data-pagespeed-url-hash="2053338166"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">                      
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:text="${product.productName}"></h3>
                        <!-- <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div> -->
                        <div class="product__details__price" th:text="${product.productPrice}">$50.00</div>
                        <p th:text="${product.productDetail}"></p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" id="quantity_input" value="1">
                                </div>
                            </div>
                        </div>
                        <a type="button" th:onclick="|addCart(__${product.productId}__)|" class="primary-btn">Thêm vào giỏ hàng</a>
                       <!--  <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a> -->
                         <ul>
                            <li><b>Khả dụng</b> <span>Trong kho</span></li>
                            <li><b>Thời gian vận chuyển</b> <span>Từ 1 ngày <samp>Đến 5 ngày</samp></span></li>      
                             <li><b>Đánh giá</b> 
		                          <span class="product__details__rating">
		                            <i class="fa fa-star"></i>
		                            <i class="fa fa-star"></i>
		                            <i class="fa fa-star"></i>
		                            <i class="fa fa-star"></i>
		                            <i class="fa fa-star-half-o"></i>		                            
		                        </span>
                             </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Mô tả chi tiết</a>
                            </li>
         
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Thông tin cây cảnh</h6>
                                    <p th:text="${product.productDetail}"></p>
                                  
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/static/admin/js/core/jquery.min.js}"></script>
	<script th:src="@{/static/admin/js/core/popper.min.js}"></script>
	<script
		th:src="@{/static/admin/js/core/bootstrap-material-design.min.js}"></script>

	<script th:src="@{/static/bootstrap-4.5.0-dist/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/static/admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/static/admin/js/plugins/sweetalert2@9.js}"></script>

	<script th:src="@{/static/admin/js/plugins/bootstrap-notify.js}"></script>

	<script th:src="@{/static/admin/js/material-dashboard.js?v=2.1.2}"
		type="text/javascript"></script>
    <script th:inline="javascript">
		const product = [[${product}]];
		const productId = [[${product.productId}]];
		const productQuantity = [[${product.productQuantity}]];
		console.log(productQuantity)

            let home = [[@{/}]];
            	
            const list_cart_item = [[${ cartitems }]];
            const count_cart_item = [[${ total_cart_item }]];
            console.log(list_cart_item);
            console.log(count_cart_item);

            if (home.slice(home.length - 1) == "/") {
                home = home.slice(0, -1);
            }
    
   		 function addCart(productId) {
            if (!e) var e = window.event;
            e.cancelBubble = true;
            if (e.stopPropagation) e.stopPropagation();

            console.log(productId)

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            // let data = new Object();
            // data.product_id = product_id;
            let data = `{"productId" : ${productId}}`;
            // console.log(data);

            try {
                let productQuantity = $('#quantity_input').val();
                if (typeof productQuantity === 'undefined') {

                }
                else {
                    data = `{"productId" : ${productId},"productQuantity" : ${productQuantity}}`;
                }
            } catch (error) {

            }

            $.ajax({
                url: `${home}/cart/add`,
                type: 'PUT',

                dataType: "json",
                contentType: "application/json",

                // data: JSON.stringify(`{"product_id" : ${product_id}}`),
                data: data,
                // data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },

                success: function (data, status, xhr) {
                	Swal.fire({
              		  position: 'center',
              		  icon: 'success',
              		  title: 'Thêm cây cảnh thành công',
              		  showConfirmButton: false,
              		  timer: 800
                  		}).then(()=>{
                              window.location.href = window.location.href;

                  		})
                },
                error: function (request, status, error) {

                    try {
                        if (request.status == 405) {
                            window.location.href = `${home}/login`;
                        }
                        // console.log(request.status);
                        // console.log(status);
                        // console.log(error);
                        // window.location.href = `${home}/login`;
                    } catch (error) { }
                }
            });

        }
           
    </script>
	</th:block>
</body>
</html>