<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="product-add">
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="main-card mb-3 card">
					<div class="card-body">
						<h4 class="card-title">ADD PRODUCT MANAGEMENT</h4>
						<form class="col-md-10 mx-auto" action="">
							<div class="form-group">
								<label>Product name</label>
								<div>
									<input type="text" class="form-control" id="addProductName"
										name="addProductName" placeholder="Product name"
										maxlength="255" />
								</div>
							</div>
							<div class="form-group">
								<label>Category name</label>
								<div>
									<select name="select" id="addCategoryName" class="form-control">
										<option value="">Select category</option>
										<option th:each="category : ${categories}"
											th:value="${category.categoryId}"
											th:utext="${category.categoryName}" />

									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Origin name</label>
								<div>
									<select name="select" id="addOrigintName" class="form-control">
										<option value="">Select origin</option>
										<option th:each="origin : ${origins}"
											th:value="${origin.originId}" th:utext="${origin.originName}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Product detail</label>
								<div>
									<input type="textarea" class="form-control"
										id="addProductDetail" rows="9" name="addProductDetail"
										placeholder="Description detail product" maxlength="1000" />
								</div>
							</div>
							<div class="form-group">
								<label>Product images</label>
								<div>
									<input type="file" id="addProductImg"
										name="file-multiple-input" multiple=""
										class="form-control-file">
								</div>
							</div>

							<div class="form-group right">
								<a th:href="@{/admin/product/list}"> <span
									class="btn btn-warning"> <i
										class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK
								</span>

								</a> &nbsp; <span type="submit" class="btn btn-primary"
									onClick="AddProduct()"> <i class="fa fa-floppy-o"
									aria-hidden="true"></i> SUBMIT
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="app-wrapper-footer">
				<div class="app-footer">
					<div class="app-footer__inner">

						<div class="app-footer-right">
							<ul class="header-megamenu nav">
								<li class="nav-item"><a data-placement="top"
									rel="popover-focus" data-offset="300"
									data-toggle="popover-custom" class="nav-link"> Copyright ©
										2021 All rights reserved by Happy Graden </a></li>
						</div>
					</div>
				</div>
			</div>
		</div>



	</th:block>

</body>
</html>