<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="product-add">
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="main-card mb-3 card">
					<div class="card-body">
						<h4 class="card-title">ADD PRODUCT MANAGEMENT</h4>
						<th:block >
							<h4 class="card-title" th:each="msgInfo: ${msgInfo}" th:text ="product.sucess"></h4>
						</th:block>						
						<form class="col-md-10 mx-auto" th:action="@{/admin/product/add}"
							enctype="multipart/form-data" method="POST">
							<div class="form-group">
								<label>Product name</label>
								<div>
									<input type="text" class="form-control" id="addProductName"
										name="name" placeholder="Product name" maxlength="255" />
								</div>
							</div>
							<div class="form-group">
								<label>Category name</label>
								<div>
									<select name="category" id="addCategoryName"
										class="form-control">
										<option value="">Select category</option>
										<option th:each="category : ${categories}"
											th:value="${category.categoryId}"
											th:utext="${category.categoryName}" />

									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Origin name</label>
								<div>
									<select name="origin" id="addOrigintName" class="form-control">
										<option value="">Select origin</option>
										<option th:each="origin : ${origins}"
											th:value="${origin.originId}" th:utext="${origin.originName}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Product detail</label>
								<div>
									<textarea type="textarea" class="form-control"
										id="addProductDetail" rows="3" name="detail"
										placeholder="Description detail product" maxlength="1000"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label>Product images</label>
								<div>
									<input type="file" id="file" name="file" multiple="multiple"
										class="form-control-file">
								</div>
							</div>
							<!-- <div class="form-group">
								<label>Images</label>
								<div>
									<div id= "preview"></div>
								</div>
							</div> -->

							<div class="form-group right">
								<a th:href="@{/admin/product/list}"> <span
									class="btn btn-warning"> <i
										class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK
								</span>

								</a> &nbsp; <button type="submit" class="btn btn-primary"
									id="submit" name="submit"> <i class="fa fa-floppy-o"
									aria-hidden="true"></i> SUBMIT</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="app-wrapper-footer">
				<div class="app-footer">
					<div class="app-footer__inner">

						<div class="app-footer-right">
							<ul class="header-megamenu nav">
								<li class="nav-item"><a data-placement="top"
									rel="popover-focus" data-offset="300"
									data-toggle="popover-custom" class="nav-link"> Copyright ©
										2021 All rights reserved by Happy Graden </a></li>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 	<script th:inline="javascript">
		function previewImage(){
			var $preview = $('#preview').empty();
			if(this.files) $.each(this.file, readAndPreview);
			
			function readAndPreview(i, file){
				if(!/\.(jpe?g|png|gif)$/i.test(file.name)){
					return alert(file.name + "is not an image");
				}
				
				var reader = new FileReader();
				$(reader).on("load", function(){
					$preview.append($("<img/>",{src:this.result, height:100,}));
				});
				
				reader.readAsDataURL(file);
			}
		}
		</script> -->
	</th:block>
</body>
</html>