<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="product-edit">
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="main-card mb-3 card">
					<div class="card-body">
						<h4 class="card-title">Cập nhật thông tin cây cảnh</h4>
						<th:block >
							<h4 class="card-title" th:each="msgInfo: ${msgInfo}" th:text ="product.sucess"></h4>
						</th:block>						
						<form class="col-md-10 mx-auto" th:action="@{/admin/product/edit}"
							enctype="multipart/form-data" method="POST" th:object="${product}" th:accept-charset="utf-8">
							<div class="form-group">
								<label>Tên cây cảnh</label>
								<div>
									<input type="text" class="form-control" id="addProductName"
										placeholder="Tên cây cảnh" maxlength="255" th:field="*{productName}"/>									
								</div>
							</div>
							<!-- thông tin id -->
							<div class="form-group">							
								<div>
									<input type="hidden" class="form-control" th:field="*{productId}"/>									
								</div>
							</div>
							<div class="form-group">
								<label>Loại cây cảnh</label>
								<div>
									<select name="category" id="addCategoryName"
										class="form-control">
										<!-- <option value="">Select category</option> -->
										<th:block th:each="category : ${categories}">
										<option 
											th:attrappend="selected=${product.category == category.categoryId}?'selected' "
											th:value="${category.categoryId}"
											th:utext="${category.categoryName}" />
										</th:block>	

									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Xuất xứ cây cảnh</label>
								<div>
									<select name="origin" id="addOrigintName" class="form-control">
										<!-- <option value="">Select origin</option> -->
										<th:block th:each="origin : ${origins}">
										<option 
											th:attrappend="selected=${product.origin == origin.originId}?'selected' "
											th:value="${origin.originId}" th:text="${origin.originName}"/>
										</th:block>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Chi tiết cây cảnh</label>
								<div>
									<textarea type="textarea" class="form-control" th:field="*{productDetail}"
										id="addProductDetail" rows="3"
										placeholder="Mô tả chi tiết cây cảnh" maxlength="1000"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label>Số lượng</label>
								<div>
									<input type="text" class="form-control" id="addProductName" th:field="*{productQuantity}"
										name="quantity" placeholder="Nhập số lượng" maxlength="255" value ="0"/>
								</div>
							</div>
							
							<div class="form-group">
								<label>Hình ảnh</label>
								<div>
									<img th:src="@{__${product.productImg}__}"
											th:onerror="this.onerror=null;this.src=[[@{/static/img/default.png}]];"
											alt="" style="width: 200px; height: 200px;">
								</div>
							</div>
							<div class="form-group">
								
								<div>
									<input type="file" id="file" name="file" multiple="multiple" 
										class="form-control-file">
								</div>
							</div>
							<!-- <div class="form-group">
								<label>Images</label>
								<div>
									<div id= "preview"></div>
								</div>
							</div> -->

							<div class="form-group right">
								<a th:href="@{/admin/product/list}"> <span
									class="btn btn-warning"> <i
										class="fa fa-arrow-circle-left" aria-hidden="true"></i> Trở về
								</span>

								</a> &nbsp; <button type="submit" class="btn btn-primary"
									id="submit" name="submit"> <i class="fa fa-floppy-o"
									aria-hidden="true"></i> Lưu</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
			<div class="app-wrapper-footer">
				<div class="app-footer">
					<div class="app-footer__inner">

						<div class="app-footer-right">
							<ul class="header-megamenu nav">
								<li class="nav-item"><a data-placement="top"
									rel="popover-focus" data-offset="300"
									data-toggle="popover-custom" class="nav-link"> Copyright ©
										2021 All rights reserved by Happy Graden </a></li>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 	<script th:inline="javascript">
		function previewImage(){
			var $preview = $('#preview').empty();
			if(this.files) $.each(this.file, readAndPreview);
			
			function readAndPreview(i, file){
				if(!/\.(jpe?g|png|gif)$/i.test(file.name)){
					return alert(file.name + "is not an image");
				}
				
				var reader = new FileReader();
				$(reader).on("load", function(){
					$preview.append($("<img/>",{src:this.result, height:100,}));
				});
				
				reader.readAsDataURL(file);
			}
		}
		</script> -->
	</th:block>
</body>
</html>