<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="search-body">
		<section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Loại cây cảnh</h4>
                            <ul>
                                <th:block th:each="category : ${categories}">
								<li><a class="clc" href="#" th:text="${category.categoryName}"></a></li>
								</th:block>
                            </ul>
                        </div>                    
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                  
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                               <!--  <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span th:text="${size}">0</span> Cây cảnh</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                     <th:block th:each="product : ${products}">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" th:data-setbg="@{ ${product.productImg}}">
											<ul class="product__item__pic__hover">
												<th:block sec:authorize="isAuthenticated()">
													<!-- <li><a href="#"><i class="fa fa-heart"></i></a></li> -->
												</th:block>

												 <li><a th:href="@{|product/detail/__${product.productId}__|}" title="Xem chi tiết"><i class="fa fa-retweet"></i></a></li>
												<th:block sec:authorize="isAuthenticated()">
													<li><a href="#" class="productMSG" type="button"
														th:onclick="$.get([[@{'/cart/add/' + ${product.productId}}]], (data) => { console.log(data); } ); window.location.reload();">
															<i class="fa fa-shopping-cart"></i>
													</a></li>
												</th:block>
											</ul>
										</div>
                                <div class="product__item__text">
                                   <h6><a href="#">[[${product.productName}]]</a></h6>
                                   <div><span>$[[${product.productPrice}]]</span></div>
                                </div>
                            </div>
                        </div>  
                       </th:block>         
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
	</th:block>
</body>
</html>