<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>

</head>
<body>
	<th:block th:fragment="product-price-list">
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="fa fa-home" aria-hidden="true"></i>
							</div>
							<div>
								<b>PRODUCT PRICE</b>
							</div>
						</div>
						<div class="page-title-actions">
						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="card mb-3">
						<div class="card-body">
							<table style="width: 100%;" id="example"
								class="table table-hover table-striped table-bordered">
								<thead>
									<tr>
										<th style="text-align: center;">ID</th>
										<th style="text-align: center;">Product Name</th>
										<th style="text-align: center;">Create at</th>
										<th style="text-align: center;">Price</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${!pageable.data.empty or pageable.data != null}"
										th:each="impPrice, i : ${pageable.data}">
										<td style="text-align: center;"><span
											th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span></td>
										<td style="text-align: center;"><span th:text="${impCard.productName}"></span></td>
										<td style="text-align: center;"><span
												th:text=" ${impPrice.createAt} ? ${#dates.format(impPrice.createAt, 'dd-MM-yyyy')} "></span></td>
										<td style="text-align: center;"><span th:text="${impPrice.productPrice}"></span></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th style="text-align: center;">ID</th>
										<th style="text-align: center;">Product Name</th>
										<th style="text-align: center;">Create at</th>
										<th style="text-align: center;">Price</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="app-wrapper-footer">
				<div class="app-footer">
					<div class="app-footer__inner">

						<div class="app-footer-right">
							<ul class="header-megamenu nav">
								<li class="nav-item"><a data-placement="top"
									rel="popover-focus" data-offset="300"
									data-toggle="popover-custom" class="nav-link" style="color:red"> Copyright ©
										2021 All rights reserved by Happy Graden </a></li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>