<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="login-footer">
		<!-- JS -->
	    <!-- <script th:src="@{static/template-login/vendor/jquery/jquery.min.js}"></script>
	    <script th:src="@{static/template-login/js/main.js}"></script> -->
	    <script th:src="@{static/template-login/js/main.d810cf0ae7f39f28f336.js}"></script> 
    </th:block>
</body>
</html>