<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
	<th:block th:fragment="register-form">
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div
                        class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-7">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div class="app-logo"></div>
                            <h4>
                                <div>Xin chào,</div>
                                <span>Chỉ mất <span class="text-success">vài giây</span> để tạo tài khoản của bạn</span>
                            </h4>
                            <div>
                                
                                    <div class="form-row">
                                    	<div class="col-md-6">
                                            <div class="form-group">
                                                 <label class=""><span class="text-danger">*</span> Họ và tên</label>
                                                <input id="name" placeholder="Nhập họ tên" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class=""><span class="text-danger">*</span> Email</label>
                                                <input id="email" placeholder="Nhập email" type="email" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class=""><span class="text-danger">*</span> Tên đăng nhập</label>
                                                <input id="userName" placeholder="Nhập tên đăng nhập" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class=""><span class="text-danger">*</span> Mật khẩu</label>
                                                <input id="password" placeholder="Nhập mật khẩu" type="password" class="form-control">
                                            </div>
                                        </div>
                                        
                                         <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class=""><span class="text-danger">*</span> Địa chỉ</label>
                                                <input id="address" placeholder="Nhập địa chỉ" type="text" class="form-control">
                                            </div>
                                        </div>
                                        
                                         <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class=""><span class="text-danger">*</span> Số điện thoại</label>
                                                <input id="phone" placeholder="Nhập số điện thoại" type="phone" class="form-control">
                                            </div>
                                        </div>
                                                                              
                                    </div>

                                    <div class="mt-4 d-flex align-items-center">
                                        <h5 class="mb-0">Bạn đã sẵn sàng để tạo tài khoản? <a th:href="@{/login}" class="text-primary">Đăng nhập</a></h5>
                                        <div class="ml-auto">
                                            <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg"  onclick="addAccount()">Tạo tài khoản </button>		                                    
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-flex d-xs-none col-lg-5">
                        <div class="slider-light">
                            <div class="slick-slider slick-initialized">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                                        tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('/static/template-login/images/lg-2.jpg');"></div>
                                        <div class="slider-content">
                                            <h3> Cây dừa cảnh</h3>
                                            <p> Cây dừa cảnh phong thủy hay còn gọi là cây cau vàng,
                                             cây cau tre, cây cau cọ… với tên khoa học là Chrysalidocarpus lutescens,
                                              Areca lutescens, thuộc chi Dypsis.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	</th:block>
</body>
</html>