<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="register-form">
	  <!-- <div class="main">
        Sign up form
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="addusername" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="addpassword" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/ onclick="addAccount()">
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img th:src="@{static/template-login/images/signup-image.jpg}" alt="sing up image"></figure>
                        <a th:href="@{/login}" class="signup-image-link">I am already member</a>
                    </div>
                          
                </div>
            </div>
        </section>
    </div> -->
    
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div
                        class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-7">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div class="app-logo"></div>
                            <h4>
                                <div>Welcome,</div>
                                <span>It only takes a <span class="text-success">few seconds</span> to create your account</span>
                            </h4>
                            <div>
                                <form method="POST" class="register-form" id="register-form">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail" class=""><span class="text-danger">*</span> Email</label>
                                                <input name="email" id="email" placeholder="Email here..." type="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="exampleName" class="">Name</label>
                                                <input name="username" id="addusername" placeholder="Name here..." type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="examplePassword" class=""><span class="text-danger">*</span> Password</label>
                                                <input name="password" id="addpassword" placeholder="Password here..." type="password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="examplePasswordRep" class=""><span class="text-danger">*</span> Repeat Password</label>
                                                <input name="re_pass" id="re_pass" placeholder="Repeat Password here..." type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3 position-relative form-check">
                                        <input name="check" id="exampleCheck" type="checkbox" class="form-check-input">
                                        <label for="exampleCheck" class="form-check-label">Accept our <a href="javascript:void(0);">Terms and Conditions</a>.</label>
                                    </div>
                                    <div class="mt-4 d-flex align-items-center">
                                        <h5 class="mb-0">Already have an account? <a href="javascript:void(0);" class="text-primary">Sign in</a></h5>
                                        <div class="ml-auto">
                                            <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Create Account </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-flex d-xs-none col-lg-5">
                        <div class="slider-light">
                            <div class="slick-slider slick-initialized">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                                        tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('/static/template-login/images/lg-2.jpg');"></div>
                                        <div class="slider-content">
                                            <h3> Chrysalidocarpus lutescens</h3>
                                            <p> Cây dừa cảnh phong thủy hay còn gọi là cây cau vàng,
                                             cây cau tre, cây cau cọ… với tên khoa học là Chrysalidocarpus lutescens,
                                              Areca lutescens, thuộc chi Dypsis.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Script dang ki tai khoan nguoi dung -->
		<script th:inline="javascript">

            let home = [[@{/}]];

            if (home.slice(home.length - 1) == "/") {
                home = home.slice(0, -1);
            }

            function addAccount() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                let newAccount = new Object();
                newAccount.username = $("#addusername").val();
                newAccount.password = $("#addpassword").val();

                console.log(newAccount);
                $.ajax({
                    url: `${home}/register`,
                    type: 'POST',


                    dataType: "json",
                    contentType: "application/json",


                    data: JSON.stringify(newAccount),

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    success: function (data, status, xhr) {
                        try {
                            alert(data.msg);
                            window.location.href = `${home}/login`;
                        } catch (error) { }
                    },
                    error: function (request, status, error) {
                        try {
                            alert(request.responseJSON.msg);
                        } catch (error) { }
                    }
                });

            } 
        </script>
	</th:block>
</body>
</html>