<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>
<body>
	<th:block th:fragment="wh-edit">
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="main-card mb-3 card">
					<div class="card-body">
						<h4 class="card-title">Nhập số lượng cây cảnh</h4>
						<form class="col-md-10 mx-auto" action="" th:object="${warehouse}">
							<div class="form-group">
								<label>Tên cây cảnh</label>
								<div>
									<input type="text" id="productName" class="form-control" disabled ="disabled"	
									 placeholder="Tên cây cảnh" th:field="*{productName}" maxlength="255"/>
								</div>
							</div>
							<div class="form-group">
								<label>Chi tiết nhập</label>
								<div>
									<textarea type="textarea" class="form-control"
										id="importDetail" rows="3" name="detail"
										placeholder="Chi tiết nhập số lượng" maxlength="1000"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label>Số lượng cây cảnh</label>
								<div>
									<input type="number" id="quantity" class="form-control"	
									 placeholder="Nhập số lượng" maxlength="4" max="1000" min ="1" value="0"/>
								</div>
							</div>
							<div class="form-group">
								<label>Giá nhập(VNĐ)</label>
								<div>
									<input type="text" id="price" class="form-control"	
									 placeholder="Input price" maxlength="255"/>
								</div>
							</div>

							<div class="form-group right">
								<a th:href="@{/admin/warehouse/list}"> 
									<span class="btn btn-warning" >
									<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
									Trở về</span>
									
								</a> &nbsp;
								<span type="submit" class="btn btn-primary"
									onClick="importQuantityProduct()">
									<i class="fa fa-floppy-o" aria-hidden="true"></i>
									Lưu</span>
							</div>
						</form>
						<input type="hidden" id="productId"></input>
					</div>
				</div>
			</div>
			<div class="app-wrapper-footer">
				<div class="app-footer">
					<div class="app-footer__inner">

						<div class="app-footer-right">
							<ul class="header-megamenu nav">
								<li class="nav-item"><a data-placement="top"
									rel="popover-focus" data-offset="300"
									data-toggle="popover-custom" class="nav-link" style="color:red"> Copyright ©
										2021 All rights reserved by Happy Graden </a></li>
						</div>
					</div>
				</div>
			</div>
		</div>



	</th:block>

</body>
</html>