<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>

</head>
<body>
	<th:block th:fragment="wh-body">
	<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                                              
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                    <h3 class="title-5 m-b-35" style = "margin-bottom: 0px; color: red" >Bảng Loại Sản Phẩm</h3>
                                       <!--  <div class="rs-select2--light rs-select2--md">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">All Properties</option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div> -->
                                        <!-- <div class="rs-select2--light rs-select2--sm">
                                            <select class="js-select2" name="time">
                                                <option selected="selected">Lọc</option>
                                                <option value="">3 Days</option>
                                                <option value="">1 Week</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div> -->
                                        <!-- <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>Lọc</button> -->
                                    </div>
                                   <!--  <div class="table-data__tool-right" title = "Thêm loại">
                                    	<a th:href ="@{/admin/product/add}">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="fa fa-plus-circle" style ="margin-right: 0px;"></i>	</button>
                                        </a>
                                    </div> -->
                                </div> 
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
											<th>STT</th>
											<th>Tên sản phẩm</th>
											<th>Số lượng</th>																						
											<th></th>
										</tr>
                                        </thead>
                                        <tbody>
										<tr class="tr-shadow" th:each="product, i : ${pageable.data}">
											<td><span
												th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span>
											</td>
											<td><span th:text="${product.productName}"></span></td>
											<td><span th:text="${product.productQuantity}">2000000</span></td>
											
											<td>
												<div class="table-data-feature">													
													<a
														th:href="@{'/admin/warehouse/edit/' + ${product.product}}">
														<button class="item" data-toggle="tooltip"
															data-placement="top" title="Sửa"
															style="background-color: blanchedalmond;">
															<i class="zmdi zmdi-edit"></i>
														</button>
													</a>
												</div>
											</td>
										</tr>

									</tbody>
                                    </table>
                                   <!-- <div th:replace="components/pagination/panigation :: content(${pageable})"></div> -->
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
					<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<p style="color:green">Copyright © 2020 Happy Graden. All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
                </div>
            </div>
	</th:block>

</body>
</html>