<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>

</head>
<body>
	<th:block th:fragment="wh-list">
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="fa fa-home" aria-hidden="true"></i>
							</div>
							<div>
								<b>WAREHOUSE MANAGEMENT</b>
							</div>
						</div>
						<div class="page-title-actions">

							<!-- <div class="d-inline-block dropdown">
								<a th:href="@{/admin/wh/add}">
									<button title="Add" aria-expanded="false"
										class="btn btn-primary btn-just-icon">
										<i class="fas fa-plus-circle"></i>
									</button>
								</a>
							</div> -->
						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="card mb-3">
						<div class="card-body">
							<table style="width: 100%;" id="example"
								class="table table-hover table-striped table-bordered">
								<thead>
									<tr>
										<th style="text-align: center;">ID</th>
										<th style="text-align: center;">Product Name</th>
										<th style="text-align: center;">Quantity</th>
										<th style="text-align: center;">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${!pageable.data.empty or pageable.data != null}"
										th:each="warehouse, i : ${pageable.data}">
										<td style="text-align: center;"><span
											th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span></td>
										<td style="text-align: center;"><span th:text="${warehouse.productName}"></span></td>
										<td style="text-align: center;"><span th:text="${warehouse.productQuantity}"></span></td>
										<td style="text-align: center;"
											<a th:href="@{'/admin/warehouse/edit/' + ${warehouse.product}}">
												<button rel="tooltip" title="Input product quantity" type="button"
													class="btn btn-primary btn-just-icon"
													th:href="@{'/admin/warehouse/edit/' + ${warehouse.product}}">
													<i class="fas fa-file-import"></i>
												</button>
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th style="text-align: center;">ID</th>
										<th style="text-align: center;">Product Name</th>
										<th style="text-align: center;">Quantity</th>
										<th style="text-align: center;">Action</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="app-wrapper-footer">
				<div class="app-footer">
					<div class="app-footer__inner">

						<div class="app-footer-right">
							<ul class="header-megamenu nav">
								<li class="nav-item"><a data-placement="top"
									rel="popover-focus" data-offset="300"
									data-toggle="popover-custom" class="nav-link" style="color:red"> Copyright ©
										2021 All rights reserved by Happy Graden </a></li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>