<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:fragment="admin-head">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="">
    <meta name="keywords" content="au theme template">

    <title></title>

    <link th:href="@{/static/template-admin/polygon/cooladmin/css/font-face.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/wow/animate.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/slick/slick.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">
    
    <link th:href="@{/static/template-admin/polygon/cooladmin/css/theme.css}" rel="stylesheet" media="all">
    
</head>
<body>

</body>
</html>