<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>

</head>
<body>
	<th:block th:fragment="category-list">
	<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Account Management
                                    <!-- <div class="page-title-subheading">This is an example dashboard created using
                                        build-in elements and components.</div> -->
                                </div>
                            </div>
                            <div class="page-title-actions">
                               
                                <div class="d-inline-block dropdown">
                                	<a th:href="@{/admin/category/add}">
	                                    <button title="Add" aria-expanded="false" class="btn btn-primary btn-just-icon">
	                                       <i class="fas fa-plus-circle"></i>	                                        
	                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tabs-animation">
                        

                        <div class="card mb-3">
                            
                            <div class="card-body">
                                <table style="width: 100%;" id="example"
                                    class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Category Name</th>
                                            <!-- <th>UserName</th>
                                            <th>Email</th>
                                            <th>Create At</th> -->
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  th:if="${!pageable.data.empty or pageable.data != null}"
												th:each="category, i : ${pageable.data}">
                                            <td><span
												th:text="${i.count+(pageable.limit*(pageable.page -1))}"></span></td>
                                            <td><span th:text="${category.categoryName}"></span></td>											
                                           
                                            <td style ="text-align: center;">
                                            	<button rel="tooltip" title="Delete account" type="button"
													class="btn btn-danger btn-just-icon"
													th:onclick="|DeleteCategory(${category.categoryId})|">
													<i class="fas fa-trash-alt"></i>
												</button>&nbsp;&nbsp;
												
												<a th:href="@{'/admin/category/detail/' + ${category.categoryId}}">
													<button rel="tooltip" title="Detail account" type="button"
														class="btn btn-warning btn-just-icon">
														<i class="fas fa-eye"></i>
													</button>&nbsp;&nbsp;
												</a>
												<button rel="tooltip" title="Edit account" type="button"
													class="btn btn-primary btn-just-icon"
													th:href="@{'/admin/category/edit/' + ${category.categoryId}}">
													<i class="fas fa-pencil-alt"></i>
												</button>
                                            </td>
                                        </tr>
                                       
                                        
                                        
                                    </tbody>
                                    <tfoot>
                                         <tr>
                                            <th>ID</th>
                                            <th>Category Name</th>
                                            <!-- <th>UserName</th>
                                            <th>Email</th>
                                            <th>Create At</th> -->
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            
                            <div class="app-footer-right">
                                <ul class="header-megamenu nav">
                                    <li class="nav-item">
                                        <a data-placement="top" rel="popover-focus" data-offset="300"
                                            data-toggle="popover-custom" class="nav-link">
                                            Copyright © 2021 All rights reserved by Happy Graden
                                            
                                        </a>
                                        
                                    </li>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</th:block>

</body>
</html>