<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="cart-body">
		<!-- Shoping Cart Section Begin -->
		<section class="shoping-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__table">
							<table>
								<thead>
									<tr>
										<th class="shoping__product">Products</th>
										<th>Image</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cart_item, i : ${list_cart_item}">
										<td th:text="${cart_item.productName}" th:onclick="window.location=[[@{/product/__${cart_item.product}__}]];">Product Name</td>									
										<td><img th:src="@{__${cart_item.productImg}__}"
											th:onerror="this.onerror=null;this.src=[[@{/static/img/default.png}]];"
											alt="" style="width: 100px; height: 100px;"></td>
											
										<td th:text="${cart_item.quantity}">999999999</td>
										
										<td><span th:inline="text">$ [[${#numbers.formatDecimal(cart_item.productPrice, 0, 'COMMA', 0, 'POINT')}]]</span></td>
										
                                        <td><span th:inline="text">$ [[${#numbers.formatDecimal(cart_item.total, 0, 'COMMA', 0, 'POINT')}]]</span></td>	
                                        								
										<td class="shoping__cart__item__close" th:onclick="|deleteProduct(${cart_item.product})|"><span
											class="icon_close"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__btns">
							<a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a> <a
								href="#" class="primary-btn cart-btn cart-btn-right"><span
								class="icon_loading"></span> Upadate Cart</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="shoping__continue">
							<div class="shoping__discount">
								<h5>Discount Codes</h5>
								<form action="#">
									<input type="text" placeholder="Enter your coupon code">
									<button type="submit" class="site-btn">APPLY COUPON</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="shoping__checkout">
							<h5>Cart Total</h5>
							<form  th:action="@{/cart/payment/momo}" method="POST">
								<ul>
									<li>Account <input type="text" placeholder="Enter your account" style="float:right"></li>
									<li>Address <input type="text" placeholder="Enter your address" style="float:right"></li>
									<li>Phone <input type="address" required="required" name="address" placeholder="Enter your phone" style="float:right"></li>
									<!-- <li>Subtotal <span>$454.98</span></li> -->
									<li>Total <span th:inline="text">$ [[${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}]]</span></li>
								</ul>
								<button class="primary-btn">PROCEED TO CHECKOUT</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		 <script th:inline="javascript">
          function deleteProduct(product) {
            console.log(product)

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                Swal.fire({
                	  title: 'Are you sure?',
                	  text: "You won't be able to revert this!",
                	  icon: 'warning',
                	  showCancelButton: true,
                	  confirmButtonColor: '#3085d6',
                	  cancelButtonColor: '#d33',
                	  confirmButtonText: 'Yes, delete it!'
                	}).then((result) => {
                		
                	  if (result.value) {
                         	    	 $.ajax({
                                         url: `/cart/delete/${product}`,
                                         type: 'DELETE',
                                         beforeSend: function (xhr) {
                                             xhr.setRequestHeader(header, token);
                                         },

                                         success: function (data, status, xhr) {
                                             // alert(status);
                                             // To reload the page discarding the POST data(perform a GET request)
											Swal.fire({
					                    		  position: 'center',
					                    		  icon: 'success',
					                    		  title: 'Delete Success',
					                    		  showConfirmButton: false,
					                    		  timer: 800
						                    		}).then(()=>{
						                                window.location.href = window.location.href;
						
						                    		})                                         },
                                         error: function (request, status, error) {
                                             alert(status);
                                             // To reload the page discarding the POST data(perform a GET request)
                                             window.location.href = window.location.href;
                                         }
                                     });
                         	
                	     
                	 
                	  }
                	})
                	
          
            }
          </script>	    
	</th:block>
</body>
</html>