<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="index-categories">
	<!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/template/theme/ogani/img/categories/2-1.jpg">
                            <h5><a>Cây Sen Đá</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/template/theme/ogani/img/categories/3.jpg">
                            <h5><a>Cây Dừa Cảnh</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/template/theme/ogani/img/categories/4.jpg">
                            <h5><a>Hoa Giấy</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/template/theme/ogani/img/categories/7.jpg">
                            <h5><a>Sen Đá</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/template/theme/ogani/img/categories/8.jpg">
                            <h5><a>Hoa Kiểng</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
	</th:block>
</body>
</html>