<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="index-featured-product">
    <section class="featured spad">
    
        <div class="container">
    
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Sản phẩm nổi bật</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tất cả</li>
                            <!-- <li data-filter=".oranges">Flower</li>
                            <li data-filter=".fresh-meat">Bonsai</li>            -->                
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="row featured__filter">
    
                <th:block th:each="product : ${lstProduct}">
    
                    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" th:data-setbg="@{ ${product.productImg} }">
                                <ul class="featured__item__pic__hover">
                                 <th:block sec:authorize="isAuthenticated()">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                 </th:block>   
                                 
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                  <th:block sec:authorize="isAuthenticated()">   
                                    <li>
                                        <a href="#" class ="productMSG" type ="button"
                                            th:onclick="$.get([[@{'/cart/add/' + ${product.productId}}]], (data) => { console.log(data); } ); return false;">
                                            <i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                  </th:block>  
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="#">[[${product.productName}]]</a></h6>
                                <h5>[[${product.productPrice}]] đ</h5>
                            </div>
                        </div>
                    </div>
					</th:block>
    
            </div>
    
        </div>
    
    </section>
	</th:block>
</body>
</html>