<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  
</head>
<body>
	<th:block th:fragment="index-header" >
		<!-- Humberger Begin -->
		<div class="humberger__menu__overlay"></div>
		<div class="humberger__menu__wrapper">
			<div class="humberger__menu__logo">
				<a href="/"><img th:src="@{static/template/theme/ogani/img/logohp.png}"></a>
			</div>
			 <th:block sec:authorize="isAuthenticated()">
			<div class="humberger__menu__cart">
				<ul>
					<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
					<li><a th:href="@{/cart}"><i class="fa fa-shopping-bag"></i><span id="count" th:text="${total_cart_item}">0</span></a></li>
				</ul>
				<div class="header__cart__price">
					Tổng giá: <span id="total" th:text="${total_price}">0</span>
				</div>
			</div>
			</th:block>
			<div class="humberger__menu__widget">
				<!-- <div class="header__top__right__language">
					<img src="img/language.png" alt="">
					<div>Tiếng Việt</div>
					<span class="arrow_carrot-down"></span>
					<ul>
						<li><a href="#">Tiếng Việt</a></li>
						<li><a href="#">English</a></li>
					</ul>
				</div> -->
				<div class="header__top__right__auth">
					<a th:href="@{/login}"><i class="fa fa-user"></i> Đăng nhập/Đăng kí</a>
				</div>
			</div>
			<nav class="humberger__menu__nav mobile-menu">
				<ul>
					<li class="active"><a href="./index.html">Trang chủ</a></li>
					<li><a href="./shop-grid.html">Sản phẩm</a></li>
					<!-- <li><a href="#">Pages</a>
						<ul class="header__menu__dropdown">
							<li><a href="./shop-details.html">Shop Details</a></li>
							<li><a href="./shoping-cart.html">Shoping Cart</a></li>
							<li><a href="./checkout.html">Check Out</a></li>
							<li><a href="./blog-details.html">Blog Details</a></li>
						</ul></li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a href="./contact.html">Contact</a></li> -->
				</ul>
			</nav>
			<div id="mobile-menu-wrap"></div>
			<!-- <div class="header__top__right__social">
				<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
					class="fa fa-twitter"></i></a> <a href="#"><i
					class="fa fa-linkedin"></i></a> <a href="#"><i
					class="fa fa-pinterest-p"></i></a>
			</div> -->
			<div class="humberger__menu__contact">
				<ul>
					<li><i class="fa fa-envelope"></i> happygraden@gmail.com</li>
					<li>0398 915 767</li>
				</ul>
			</div>
		</div>
		<!-- Humberger End -->
		<header class="header">
        <div class="header__top">
            <div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="header__top__left">
								<ul>
									<li><i class="fa fa-envelope"></i> happygraden@gmail.com</li>
									<li>0398 915 767</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="header__top__right">
								<!--  <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div> -->
								<!-- <div class="header__top__right__language">
									<img th:src="@{/static/template/theme/agani/img/language.png}"
										alt="">
									<div>Tiếng Việt</div>
									<span class="arrow_carrot-down"></span>
									<ul>
										<li><a href="#">Tiếng Việt</a></li>
										<li><a href="#">English</a></li>
									</ul>
								</div> -->
								<th:block sec:authorize="!isAuthenticated()">
									<div class="header__top__right__language">
										<a th:href="@{/login}"><i class="fa fa-user"></i>
											Đăng nhập/Đăng kí</a>
									</div>
								</th:block>
								<th:block sec:authorize="isAuthenticated()">

									<div class="header__top__right__language" style="top:0px;">
										<div>
											<span>Xin chào, <span th:text="${#authentication.name}"></span></span>
										</div>
										<span class="arrow_carrot-down"></span>
										<ul>
											<li sec:authorize="hasRole('ROLE_ADMIN')"><a
												href="/admin">Trang quản lí</a></li>
											<li sec:authorize="isAuthenticated()"><a
												href="/profile/home">Thông cá nhân</a></li>
											<li sec:authorize="isAuthenticated()"><a href="/logout">Đăng xuất</a></li>
											<li sec:authorize="!isAuthenticated()"><a hre
										</ul>

									</div></div>
									</div>
						</div>
					</div>
				</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./"><img
                                th:src="@{static/template/theme/ogani/img/logohp.png}"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Trang chủ</a></li>
                            <li><a href="./shop-grid.html">Sản phẩm</a></li>
                          <!--   <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li> -->
                        </ul>
                    </nav>
                </div>
                 <th:block sec:authorize="isAuthenticated()">
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a th:href="@{/cart}"><i class="fa fa-shopping-bag"></i> <span id="count" th:text="${total_cart_item}">0</span></a></li>
                        </ul>
                        <div class="header__cart__price">Tổng giá:<span id="total" th:text="${total_price}">0</span><span>VNĐ</span>
                    </div>
                </div>
                </th:block>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <style type="text/css">
		.header__top__right__language span {
		    font-size: 14px;
		    color: #1c1c1c;
		    position: relative;
		    top: 0px;
		}
		    
    </style>
	</th:block>

</body>
</html>