<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <th:block th:include="components/admin/admin-head :: admin-head"></th:block>
	<meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
	<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
       		<div th:replace="components/admin/admin-header :: admin-header"></div>
       		<div class="app-main">
				<div th:replace="components/account/account-menu :: account-menu"></div>
				<div th:replace="components/account/account-edit :: account-edit"></div>
        	</div>
	</div>					
    	<th:block th:replace="components/admin/admin-footer :: admin-footer"></th:block>
    	
	<!-- <script th:src="@{/static/admin/js/core/jquery.min.js}"></script>
	<script th:src="@{/static/admin/js/core/popper.min.js}"></script>
	<script
		th:src="@{/static/admin/js/core/bootstrap-material-design.min.js}"></script>

	<script th:src="@{/static/bootstrap-4.5.0-dist/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/static/admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/static/admin/js/plugins/sweetalert2@9.js}"></script>

	<script th:src="@{/static/admin/js/plugins/bootstrap-notify.js}"></script>

	<script th:src="@{/static/admin/js/material-dashboard.js?v=2.1.2}"
		type="text/javascript"></script>
		
	<script th:inline="javascript"  >
        function DeleteAccount(i) {
        	const accounts = [[${ pageable.data }]]
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
        Swal.fire({
                title: 'Bạn muốn xóa tài khoản?',
                text: "Bạn sẽ không thể phục hồi trở lại!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
                cancelButtonText: 'Thoát'
            }).then((result) => {

                if (result.value) {
                    $.ajax({
                        url: `/admin/account/delete/${accounts[i].accountId}`,
                        type: 'DELETE',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },

                        success: function (data, status, xhr) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Active Success',
                                showConfirmButton: false,
                                timer: 800
                            }).then(() => {
                                window.location.href = window.location.href;

                            })
                        },
                        error: function (request, status, error) {
                            alert(status);
                            // To reload the page discarding the POST data(perform a GET request)
                            window.location.href = window.location.href;
                        } 
                    });
                }
            }) 
        }
        
        function Pagging(limit,page){
         	 var token = $("meta[name='_csrf']").attr("content");
              var header = $("meta[name='_csrf_header']").attr("content");
      		var keyword = $("#search-box").val();

              $.ajax({
                 url: `/admin/account/list-ajax/?page=${page}&limit=${limit}&keyword=${keyword}`,
                 type: 'GET', 		
                 beforeSend: function (xhr) {
                     xhr.setRequestHeader(header, token);
                 },
     
                 success: function (data, status, xhr) {
               	  var data = data.replace('<body', '<body><div id="body"').replace('</body>','</div></body>');
                     var body = $(data).filter('#body');
                     var idTable = $(data).find("#account-list-table").length;
                     if(idTable > 0){
                   	  $("#account-list-table").html(body)
                     }else{
                   	  window.location.href = "/login"
                     }
                       
                 },
                 error: function (request, status, error) {
                /*     
                     // To reload the page discarding the POST data(perform a GET request)
                     window.location.href = window.location.href; */
                     
               	  alert(request.status);
                 }
             });  
      	}
      </script> -->
</body>
</html>