<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
</head>
<body>
	<th:block th:fragment="bill-body">
		<!-- Shoping Cart Section Begin -->
		<section class="shoping-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__table">
							<table>
								<thead>
									<tr>
										<th class="center">STT</th>
										<th>Tên cây cảnh</th>
										<!-- <th>Description</th> -->
										<th class="right">Giá</th>
										<th class="center">Số lượng</th>
										<th class="right">Tổng giá</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item, i : ${bill_item}">
										<td class="center">[[${i.count}]]</td>
										<td class="left strong"
											th:onclick="window.location=[[@{/product/__${item?.product}__}]];"><a
											th:href="@{/product/__${item?.product}__}">[[${item?.productName
												!= null} ? ${item.productName} : '']]</a></td>
										<!-- <td class="left"></td> -->
										<td class="right">$[[${item?.productPrice != null} ?
											${item.productPrice} : '']]</td>
										<td class="center">[[${item?.quantity != null} ?
											${item.quantity} : '']]</td>
										<td class="right">$[[${item?.total != null} ?
											${item.total} : '']]</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			<!-- 	<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__btns">
							<a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a> <a
								href="#" class="primary-btn cart-btn cart-btn-right"><span
								class="icon_loading"></span> Upadate Cart</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="shoping__continue">
							<div class="shoping__discount">
								<h5>Discount Codes</h5>
								<form action="#">
									<input type="text" placeholder="Enter your coupon code">
									<button type="submit" class="site-btn">APPLY COUPON</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="shoping__checkout">
							<h5>Cart Total</h5>
							<form  th:action="@{/cart/payment/momo}" method="POST">
								<ul>
									<li>Account <input type="text" placeholder="Enter your account" style="float:right"></li>
									<li>Address <input type="text" placeholder="Enter your address" style="float:right"></li>
									<li>Phone <input type="address" required="required" name="address" placeholder="Enter your phone" style="float:right"></li>
									<li>Subtotal <span>$454.98</span></li>
									<li>Total <span th:inline="text">$ [[${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}]]</span></li>
								</ul>
								<button class="primary-btn">PROCEED TO CHECKOUT</button>
							</form>
						</div>
					</div> -->
					
				</div>
			</div>
		</section>
	</th:block>
</body>
</html>